.airbnb-nav {
  height: 80px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

.container-2 {
  display: flex;
  height: 100%;
}

.container-2.airbnb {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.brand {
  position: relative;

  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
}

.image-6 {
  margin-right: 8px;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 1;
  flex: 1;
}

.globe-block {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  order: 0;
}

.profile-pill {
  display: flex;
  height: 40px;
  padding-right: 4px;
  justify-content: space-between;

  border-radius: 40px;

  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

.image-7 {
  margin-left: 8px;
}

.profile-image {
  margin-left: 12px;
}