.content-section {
  position: relative;
  z-index: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container {
  width: 80%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 92%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 92%;
  }
}

.cross {
  display: flex;
  width: 45px;
  height: 45px;
  padding-bottom: 7px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background-color: hsla(357.39130434782606, 100.00%, 50.39%, 0.18);

  color: hsla(0, 0.00%, 100.00%, 0.41);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.container.roght-aloign {
  display: flex;
  justify-content: flex-end;
}

.container.footer {
  max-width: 1500px;
}

@media screen and (max-width: 991px) {
  .container.footer {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  align-items: flex-start;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
}

.container.popupone {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .container.popupone {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .container.popupone {
    width: 92%;
  }
}

@media screen and (max-width: 479px) {
  .container.popupone {
    width: 92%;
  }
}

.category-wrapper {
  margin-bottom: 80px;
}

.category-wrapper.temp-hid {
  display: none;
}

.collection-list-wrapper-3 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .collection-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .collection-list {
    display: block;
  }
}

.collection-item-3 {
  margin-bottom: 10px;
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .collection-item-3 {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .collection-item-3 {
    width: 100%;
    margin-bottom: 15px;
  }
}

.trigger-wrap {
  cursor: pointer;
}

.thumbnails {
  overflow: hidden;
  border-radius: 5px;
  transition: all 300ms ease;
}

.thumbnails:hover {
  filter: brightness(110%);
}

.thumbnails.long {
  height: 27vw;
}

@media screen and (max-width: 991px) {
  .thumbnails.long {
    height: 60vh;
  }
}

@media screen and (max-width: 479px) {
  .thumbnails.long {
    height: 50vh;
  }
}

.thumb-image {
  width: 100%;
  transition: all 300ms ease;
}

.thumb-image:hover {
  transform: scale(1.1);
}

.new-moda {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;

  display: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;

  background-color: hsla(0, 0.00%, 10.59%, 0.95);

  opacity: 1;
}

@media screen and (max-width: 991px) {
  .new-moda {
    top: 0%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .new-moda {
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {
  .new-moda {
    overflow: auto;
  }
}

.div-block-10 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 479px) {
  .div-block-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.columns-3 {
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .columns-3 {
    display: block;
  }
}

.image-2 {
  width: 100%;
  border-radius: 5px;
}

.div-block-11 {
  width: 100%;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .div-block-11 {
    margin-top: 20px;
    padding-left: 0px;
  }
}

.div-block-13 {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: flex-start;
}

.button {
  padding: 10px 30px;

  border-radius: 5px;

  background-color: hsla(269.15492957746477, 0.00%, 0.00%, 0.40);

  transition: all 300ms ease;

  color: var(--red-d8fb1a6b);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: hsla(269.15492957746477, 0.00%, 0.00%, 0.63);
}

@media screen and (max-width: 479px) {
  .button {
    padding: 10px 25px;
    font-size: 12px;
  }
}

.button.reddish {
  background-color: var(--red-d8fb1a6b);
  color: var(--white-ceedd58b);
}

.button.reddish:hover {
  background-color: hsla(357.39130434782606, 100.00%, 50.39%, 0.45);
}

@media screen and (max-width: 767px) {
  .button.reddish {
    margin-bottom: 0px;
  }
}

.back {
  display: flex;
  width: 44px;
  height: 44px;
  margin-left: 18px;
  padding-bottom: 2px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background-color: hsla(357.39130434782606, 100.00%, 50.39%, 1.00);

  transition: opacity 200ms ease;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;
}

.back:hover {
  background-color: var(--hoverRed-99dfb012);
}

@media screen and (max-width: 767px) {
  .back {
    margin-left: 30px;
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  .back {
    font-size: 22px;
  }
}

.image-5 {
  filter: invert(100%);
}

.heading-2 {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .heading-2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .heading-2 {
    font-size: 22px;
  }
}

.paragraph-3 {
  color: hsla(0, 0.00%, 66.21%, 1.00);
}

.durations {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;

  border-right: 2px solid hsla(0, 0.00%, 100.00%, 1.00);

  color: hsla(357.39130434782606, 100.00%, 50.39%, 0.80);
  font-size: 14px;
  font-weight: 800;
}

@media screen and (max-width: 479px) {
  .durations {
    margin-right: 10px;
    padding-right: 10px;
  }
}