.navbar {
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  padding-top: 12px;
  padding-bottom: 12px;

  background-color: hsla(0, 0.00%, 2.75%, 1.00);
}

.container {
  width: 80%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 92%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 92%;
  }
}

.cross {
  display: flex;
  width: 45px;
  height: 45px;
  padding-bottom: 7px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background-color: hsla(357.39130434782606, 100.00%, 50.39%, 0.18);

  color: hsla(0, 0.00%, 100.00%, 0.41);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.container.roght-aloign {
  display: flex;
  justify-content: flex-end;
}

.container.footer {
  max-width: 1500px;
}

@media screen and (max-width: 991px) {
  .container.footer {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  align-items: flex-start;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
}

.container.popupone {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .container.popupone {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .container.popupone {
    width: 92%;
  }
}

@media screen and (max-width: 479px) {
  .container.popupone {
    width: 92%;
  }
}

@media screen and (max-width: 991px) {
  .nav-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--black-b6b04056);
  }
}

.nav-links {
  transition: all 200ms ease;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-weight: 600;
}

.nav-links:hover {
  color: hsla(357.39130434782606, 100.00%, 50.39%, 1.00);
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .nav-links {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .menu-button:global(.w--open) {
    background-color: transparent;
    color: var(--red-d8fb1a6b);
  }
}